--
-- PostgreSQL database dump
-- Data backup: 16/06/2026
--

\restrict MptTDBIqBpuWhC6TL4n9ze2vbdjV9Kfunc9OcNjSyq5WIVbm9WTsBRdI15JE8Zp

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: review; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.review (
    id bigint NOT NULL,
    book_note bigint NOT NULL,
    id_book_reviewed bigint NOT NULL,
    id_user_reviewed bigint NOT NULL,
    review character varying(800) NOT NULL,
    review_title character varying(200) NOT NULL
);


ALTER TABLE public.review OWNER TO "user";

--
-- Name: review_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: review; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Name: review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.review_id_seq', 21, true);


--
-- Name: review review_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict MptTDBIqBpuWhC6TL4n9ze2vbdjV9Kfunc9OcNjSyq5WIVbm9WTsBRdI15JE8Zp

